<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="CSS/Sternebewertung.css" />
    <link rel="stylesheet" href="CSS/Button.css" />
</head>
<body ng-controller="BewertenController">
    <div>
        <label class="test" for="singleSelect"> Wählen sie die Lokalität aus, die Sie bewerten möchten:</label><br />
        <select size="4" name="repeatSelect" id="repeatSelect" ng-model="orte.Locationname">
            <option name="selectedLocation" ng-repeat="ort in orte" value="{{ort.Locationname}}">{{ort.Locationname}}</option>
        </select>
        <span class='review-holder'>
            <span class='review'>
                <span ng-click="saveBewertung('very bad')" data-description='very bad'></span>
                <span ng-click="saveBewertung('bad')" data-description="bad"></span>
                <span ng-click="saveBewertung('ok')" data-description="ok"></span>
                <span ng-click="saveBewertung('good')" data-description="good"></span>
                <span ng-click="saveBewertung('excellent')" data-description="excellent"></span>
            </span>
        </span><br />
        <button class="btn btn-primary btn-sm btn3d" value="Lokalität bewerten" ng-click="goToHomeBack('/home')">Lokalität</button>
    </div>
</body>
</html>
