<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <link rel="stylesheet" href="CSS/Home.css">
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="App/geoLocation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="App/main.js"></script>
</head>
<body ng-controller="HomeController">
    <div id="HomeContainer">
        <label style="font-size:20px">Suchen: <input class="txtInput" type="text" ng-model="search.$" style="font-size:20px"></label><br /><br />
        <label for="Filter für Land">Filter für Land: <select name="repeatSelect" ng-model="search.Land">
            <option name="selectedLocation" ng-repeat="ort in orte | unique:'Land' ">{{ort.Land}}</option>
            </select>
        </label><br /><br />
        <label for="Filter für Bundesland">
            Filter für Bundesland: <select name="repeatSelect" ng-model="search.Bundesland">
                <option name="selectedLocation" ng-repeat="ort in orte | unique:'Bundesland' ">{{ort.Bundesland}}</option>
            </select>
        </label><br />
        <label for="Filter für Stadt">
            Filter für Stadt: <select name="repeatSelect" ng-model="search.Stadt">
                <option name="selectedLocation" ng-repeat="ort in orte | unique:'Stadt' ">{{ort.Stadt}}</option>
            </select>
        </label><br />
        <label for="Filter für Locationtype">
            Filter für Locationtyp: <select name="repeatSelect" ng-model="search.Locationtyp">
                <option name="selectedLocation" ng-repeat="ort in orte | unique:'Locationtyp' ">{{ort.Locationtyp}}</option>
            </select>
        </label>
        <br />
        <table border="1">
            <tr><th>Land</th><th>Bundesland</th><th>Stadt</th><th>Location</th><th>Locationtyp</th><th>Bewertung</th></tr>
            <tr ng-repeat="ort in orte | filter:search.$ | filter:search.Bundesland | filter:search.Land | filter:search.Stadt | filter:search.Locationtyp">
                <td>{{ort.Land}}</td>
                <td>{{ort.Bundesland}}</td>
                <td>{{ort.Stadt}}</td>
                <td ng-model="orte[$index]">{{ort.Locationname}}</td>
                <td>{{ort.Locationtyp}}</td>
                <td>
                    <span ng-repeat="rating in ratings">
                        <span star-rating ng-model="ratings" max="rating.max" on-rating-selected="getSelectedRating(rating)" ng-click="getSelectedRow($index)" ng-class="'selected': $index==selectedRow" ></span>
                    </span>
                </td>
            </tr>
        </table>
        <button class="btn btn-default btn-lg btn3d" value="No Filter" ng-click="removeSelection()">Reset Filter</button>
    </div>
</body>
</html>
