.pane{
    -fx-background-color: darkslategrey;
}

.button {
  -fx-background-color: lightgreen;
  -fx-text-fill: black;
  -fx-background-radius: 16px;
}

.list-cell{
    -fx-text-fill: darkgreen;
}

.labelInfo{
    -fx-background-color: lightgreen;
    -fx-text-fill: darkgreen !important;
}

.label{
    -fx-text-fill: whitesmoke;
}

.chart-legend-item{
    -fx-text-fill: darkgreen;
}