.pane{
    -fx-background-color: darkslategrey;
}

.button {
  -fx-background-color: lightgreen;
  -fx-text-fill: black;
  -fx-background-radius: 8px
}

.button:pressed {
    -fx-background-color: #187a2c;
    -fx-text-fill: whitesmoke;
}

.list-cell{
    -fx-text-fill: darkgreen;
}

.labelInfo{
    -fx-background-color: lightgreen;
    -fx-text-fill: darkgreen !important;
    -fx-background-radius: 4px
}

.label{
    -fx-text-fill: whitesmoke;
}

.chart-legend-item{
    -fx-text-fill: darkgreen;
}